<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <!--This is the Employee Service-->
      <service name="ServiceLibrary.Employees.EmployeeService">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceLibrary.Employees.IEmployeeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/ServiceLibrary/EmployeeService/" />
          </baseAddresses>
        </host>
      </service>
      <!--This is the Schedule Service-->
      <service name="ServiceLibrary.Schedules.ScheduleService">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceLibrary.Schedules.IScheduleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/ServiceLibrary/ScheduleService/" />
          </baseAddresses>
        </host>
      </service>
      <!--This is the ScheduleShiftService-->
      <service name="ServiceLibrary.ScheduleShifts.ScheduleShiftService">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceLibrary.ScheduleShifts.IScheduleShiftService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/ServiceLibrary/ScheduleShiftService/" />
          </baseAddresses>
        </host>
      </service>
      <!--This is the TemplateScheduleService-->
      <service name="ServiceLibrary.TemplateSchedules.TemplateScheduleService">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceLibrary.TemplateSchedules.ITemplateScheduleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/ServiceLibrary/TemplateScheduleService/" />
          </baseAddresses>
        </host>
      </service>
      <!--This is the TemplateScheduleShiftService-->
      <service name="ServiceLibrary.TemplateShifts.TemplateShiftService">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceLibrary.TemplateShifts.ITemplateShiftService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/ServiceLibrary/TemplateShiftService/" />
          </baseAddresses>
        </host>
      </service>
      <!--This is the DepartmentService-->
      <service name="ServiceLibrary.Departments.DepartmentService">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceLibrary.Departments.IDepartmentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/ServiceLibrary/DepartmentService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>