@{
    if (Session["employee"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

@model EasyScheduleWebClient.Models.EmployeeModel
@{
    ViewBag.Title = "EZ-Schedule";
}

<div id='wrap'>

    <div>
        <h1>@Model.Department.Name</h1>
        <hr />
    </div>
    <div id="CheckBoxDiv">
        <label for="OnlyMyShifts">View only my shifts</label>
        <input type="checkbox" id="OnlyMyShifts" onchange="OnCheckBoxSelect()" />
    </div>
    <div id='calendar'></div>
    <div style='clear:both'></div>

</div>
<div>
    @if (Session["employee"] != null)
    {
        <p style="color:#141414; position:fixed; top:55px; right:10px; ">
            Hello @Model.Employee.Name.ToString()
        </p>
    }

</div>

@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/locale-all.js"></script>
    <script src="~/Scripts/EZCalendar.js"></script>
}


