<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITempScheduleService" />
                <binding name="BasicHttpBinding_ITempShiftService" />
                <binding name="BasicHttpBinding_IDepartmentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/Design_Time_Addresses/Service/TempScheduleService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITempScheduleService"
                contract="TempScheduleService.ITempScheduleService" name="BasicHttpBinding_ITempScheduleService" />
            <endpoint address="http://localhost:9000/Design_Time_Addresses/Service/TempShiftService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITempShiftService"
                contract="TempShiftService.ITempShiftService" name="BasicHttpBinding_ITempShiftService" />
            <endpoint address="http://localhost:9000/Design_Time_Addresses/Service/DepartmentService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentService"
                contract="DepartmentService.IDepartmentService" name="BasicHttpBinding_IDepartmentService" />
        </client>
    </system.serviceModel>
</configuration>